.header__logo{
  max-height: 33px;
  max-width: 142px;
  margin: 0 0  41px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px){
  .header__logo{
    max-height: 24px;
    max-width: 104px;
    margin-bottom: 32px;
    margin-left: 30px;

  }
}
