.footer__copyright{
  font-size: 18px;
  line-height: 1;
  color: #545454;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 767px){
  .footer__copyright{
    font-size: 14px;
  }
}
