.profile__add-button{

  display:flex;
  color:white;
  background-image: url(../../../images/profile-add-button.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
  max-width: 150px;
  flex-basis: 150px;
  background-color: black;
  border: 2px solid white;
  border-radius: 2px;
  padding:0;
  text-align: center;


}

@media screen and (max-width: 767px){
  .profile__add-button{
    max-height: 50px;
    min-width: 282px;

  }
}

.profile__add-button:hover{
  opacity: 60%;
  cursor: pointer;
}
